<h1>Billboards</h1>
<h3>Which billboard would you like to browse?</h3>

<ul>
    <% @bills.each do |billboard| %>
    <li><%=link_to billboard.billboard_name, billboard_path(billboard), class: "ui black button"%></li>
    <%= link_to "Edit Billboard", edit_billboard_path(billboard), class: "ui blue button"%>
    <%= link_to "Delete Billboard", billboard_path(billboard), method: :delete, class: "ui red button"%>
    <% end %>
</ul>
<%= link_to "Create Billboard", new_billboard_path, class: "ui green button"%>



